.breadcrumbs {
	margin-bottom: 14px;
	line-height: 1.6;

	> span {
		display: inline-block;
		vertical-align: middle;
	}

	a {
		position: relative;
		margin-right: 20px;

		&::after {
			content: '/';
			position: absolute;
			bottom: -1px;
			right: -16px;
			color: gray;
			pointer-events: none;
		}
	}

	.breadcrumb_last {
		color: gray;
	}
}
